img {
    width: 80%;
}

@media screen and (max-width: 767px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }


    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #FFFFFF; /* Lägg till en bakgrund så att den inte blir genomskinlig */
        z-index: 1001; /* Högre än `#Varukorgen` så att den alltid ligger ovanpå */
    }

    #Rubrik {
        color: #FFFFFF;

        border: 2px solid #000000;

        display: inline-block;

        background-color: #000000;
    }

    #Varukorgen {
        display: none;
        display: inline-block;

        
        color: #000000;
        background-color:#FFFFFF;

        width: 100vw;
        height: 100%;

        z-index: 1000;

        position: fixed; /* Cover the entire viewport */
        top: 80px;
        left: 0;

    }

    #summa_div{
        padding-top: 50px;
    }

    #summa_nr{
        background-color: #000000;
        color: #FFFFFF;
    }

    #kassan{
        background-color: #000000;
        color: #FFFFFF;
    }

    #Varukorg-btn{
        position: fixed; /* Gör att den alltid är synlig */
        top: 80px; /* Placera den under headern (justera beroende på header-höjd) */
        right: 20px; /* Placera den på höger sida */
        z-index: 1002; /* Se till att den ligger ovanför header och varukorgen */
        background-color: black;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
    }

    .close{
        color: #aaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

    nav {

        position: fixed; /* Fixerat under headern */
        top: 94px; /* Justera beroende på headerns höjd */
        left: 0;
        width: 100%;
        height: 50vh; /* Täcker halva skärmen */
        
        display: flex;
        flex-direction: column; /* Ställer elementen vertikalt */
        justify-content: center; /* Centrerar innehållet vertikalt */
        align-items: center; /* Centrerar innehållet horisontellt */
        
        background-color: #5AFF5D;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        
        display: none; /* Gömmer från början */
        z-index: 1000;
        padding: 20px 0; /* Ser till att innehållet inte fastnar högst upp */
    }

    nav a {
        font-size: 20px;
        padding: 5px 10px; /* Mindre padding för att minska klickytan */
        text-decoration: none;
        color: black;
        
        width: fit-content; /* Gör att länken bara tar upp så mycket plats som texten kräver */
        display: flex; /* Behåller vertikal radning */
        justify-content: center;
        align-items: center;
        
        margin: 30px 0; /* Lägger till mellanrum mellan länkarna */
    }

    #Nav{
        position: fixed; /* Fixera den på skärmen */
        top: 90px; /* Placera den direkt under headern (justera efter headerns höjd) */
        left: 20px; /* Placera den en bit från vänsterkanten */
        width: 50px;
        height: 60px;
        background-color: black; /* Gör den synlig */
        color: white;
        z-index: 1000; /* Högre än produkterna men lägre än headern */
        font-size: 23px;
    }

    .close2{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 2000;
    }

    a {
        text-decoration: underline;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 15px;

        background-color: #FF4343;
    }


    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        margin-top: 140px;

        border: 2px solid black;
    }



    .Produkt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "image  cost"
            "reklam  amount"
            "name  buy";

        border: 2px solid black;

        margin-left: 10px;
        margin-right: 10px;
    }

    .Produkt__kostnad {
        background-color: #2A00FF;
        color: #FFFFFF;

        grid-area: cost;

        height: 30px;
        width: 100px;
    }


    .Produkt__Mängd {
        background-color: #FF0004;
        color: #FFFFFF;

        grid-area: amount;

        height: 30px;
        width: 100px;
    }


    .Produkt__namn {
        background-color: #000000;
        color: #FFFFFF;

        grid-area: name;

        height: 30px;
        width: 100px;

        margin-left: 100px;
    }

    .Produkt__köpa-knapp {
        background-color: #00FF1E;
        color: #000000;

        border: none;

        grid-area: buy;

        height: 30px;
        width: 100px;

        margin-top: 15px;
    }

    .Produkt_ta-bort{
        display: none;
    }

    #Reklam{
        background-color: #FF0004;
        grid-area: reklam;
    }

    footer {
        background-color: #8C8C8C;
    }

    #Bilder{
        width: 150px;
    }


    #Main_bild{
        width: 80px;
    }

    #Eld {
        width: 200px;
    }

    #Flood {
        width: 130px;
    }

    #Röd {
        width: 130px;
    }

    #Twin {
        width: 170px;
    }

    #Stråle {
        width: 130px;
    }

    #Fågel {
        width: 170px;
    }

    #Strålar {
        width: 130px;
    }

    #Twin_2 {
        width: 140px;
    }


}



@media screen and (min-width: 767px) and (max-width: 1023px) {

    body {
        display: grid;

        width: 100vw;

        grid-template-columns: 20vh 53vh;
        grid-template-rows: 1fr 1fr 2fr 1fr;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;

        background-color: #FFFFFF;
    }

    #Rubrik {
        color: #FFFFFF;

        border: 2px solid #000000;

        display: inline-block;

        background-color: #000000;
    }

    #Varukorgen {
        grid-column: 2/3;
        grid-row: 1/5;

        position: fixed;  /* Gör att varukorgen ligger över allt annat */
        top: 20;
        left: 0;
        width: 100vw; /* Full bredd */
        height: 100vh; /* Full höjd */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000; /* Håller varukorgen över allt annat */
        display: none; /* Dölj varukorgen som standard */
    }
    
    .Varukorg-innehåll {
        background-color: white;
        padding: 20px;
        width: 200px; /* Eller vad du vill */
        max-height: 80vh; /* Gör den max 80% av skärmen */
        overflow-y: auto; /* Gör så att den kan scrolla om den blir för stor */
        border-radius: 10px;
    }
    
    
    #bild{
        width: 60px;
        height: 70px;
    }

    #pris{
        padding-left: 20px;
    }

    #summa_div{
        padding-top: 580px;
    }

    #summa_nr{
        background-color: #000000;
        color: #FFFFFF;
    }

    #kassan{
        background-color: #000000;
        color: #FFFFFF;
    }


    .close{
        color: #aaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

    .close2{
        display: none;
    }

    #Varukorg-btn{
        border: none;

        grid-column: 2/3;
        grid-row: 1/2;

        color: #FFFFFF;
        background-color: #000000;
    }




    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        grid-column: 1/2;
        grid-row: 2/3;

        background-color: #5AFF5D;
    }

    #Nav{
        display: none;
    }

    a {
        text-decoration: underline;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        grid-column: 1/2;
        grid-row: 3/5;

        padding: 15px;

        background-color: #FF4343;
    }


    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        border: 2px solid black;

        grid-row: 2/4;
        grid-column: 2/3;
    }

    .Produkt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "image   image"
            "cost    amount"
            "name  buy";

        width: 151px;
        height: 200px;

        border: 2px solid black;

        margin-left: 10px;
        margin-right: 10px;
    }

    .Produkt__kostnad {
        background-color: #2A00FF;
        color: #FFFFFF;

        grid-area: cost;
    }

    .Produkt__namn {
        background-color: #000000;
        color: #FFFFFF;

        grid-area: name;

        height: 20px;
    }

    .Produkt__Mängd {
        background-color: #FF0004;
        color: #FFFFFF;

        grid-area: amount;
    }


    .Produkt__köpa-knapp {
        background-color: #00FF1E;
        color: #000000;

        border: none;

        grid-area: buy;

        height: 50px;
    }

    .Produkt_ta-bort{
        display: none;
    }

    #Eld {
        width: 100px;
    }

    #Flood {
        width: 69px;
    }

    #Röd {
        width: 60px;
    }

    #Twin {
        width: 90px;
    }

    #Stråle {
        width: 58px;
    }

    #Fågel {
        width: 100px;
    }

    #Strålar {
        width: 55px;
    }

    #Twin_2 {
        width: 65px;
    }

    footer {
        grid-row: 4/5;
        grid-column: 2/3;

        padding-left: 150px;

        background-color: #8C8C8C;
    }



}


@media screen and (min-width: 1024px) {


    body {
        display: grid;

        width: 100vw;

        grid-template-columns: 61vh 128vh 30vh;
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;

        background-color: #D2D2D2;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;

        background-color: #FFFFFF;
    }

    #Rubrik {
        color: #FFFFFF;

        border: 2px solid #000000;

        display: inline-block;

        background-color: #000000;
    }

    #Varukorgen {
        grid-column: 3/4;
        grid-row: 1/6;
        display: none;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #FFFFFF; /* Fallback color */
    }



    #VarukorgVara_info{
        display: flex;
        flex-direction: row;
    }

    .Varukorg-Innehåll{
        display: flex;
        flex-direction: column;

        position: relative;
        background-color: #FFFFFF;
        margin: 15% auto;
        padding: 20px;
        width: 80%;
    }

    #bild{
        width: 60px;
        height: 70px;
    }

    #pris{
        padding-left: 20px;
    }

    #summa_div{
        padding-top: 580px;
    }

    #summa_nr{
        background-color: #000000;
        color: #FFFFFF;
    }

    #kassan{
        background-color: #000000;
        color: #FFFFFF;
    }




    .close{
        color: #aaa;
        float: right;
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus{
        color: #000000;
        text-decoration: none;
        cursor: pointer;
    }

    .close2{
        display: none;
    }

    #Varukorg-btn{
        border: none;

        grid-column: 3/4;
        grid-row: 1/2;

        color: #FFFFFF;
        background-color: #000000;
    }

    ul{
        gap: 50px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        grid-column: 1/2;
        grid-row: 2/4;

        background-color: #5AFF5D;
    }

    #Nav{
        display: none;
    }

    a {
        text-decoration: underline;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        grid-column: 1/2;
        grid-row: 4/6;

        padding: 15px;

        background-color: #FF4343;
    }



    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        border: 2px solid black;

        grid-row: 2/5;
        grid-column: 2/4;
    }

    .Produkt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "image   image"
            "cost    amount"
            "name  buy";

        width: 151px;
        height: 200px;

        border: 2px solid black;

        margin-left: 30px;
        margin-right: 30px;
    }

    .Produkt__kostnad {
        background-color: #2A00FF;
        color: #FFFFFF;

        grid-area: cost;
    }

    .Produkt__namn {
        background-color: #000000;
        color: #FFFFFF;

        grid-area: name;
    }

    .Produkt__Mängd {
        background-color: #FF0004;
        color: #FFFFFF;

        grid-area: amount;
    }


    .Produkt__köpa-knapp {
        background-color: #00FF1E;
        color: #000000;

        border: none;

        grid-area: buy;
    }

    .Produkt_ta-bort{
        display: none;
    }



    #Eld {
        width: 90px;
    }

    #Flood {
        width: 70px;
    }

    #Röd {
        width: 60px;
    }

    #Twin {
        width: 90px;
    }

    #Stråle {
        width: 58px;
    }

    #Fågel {
        width: 90px;
    }

    #Strålar {
        width: 50px;
    }

    #Twin_2 {
        width: 65px;
    }





    footer {
        grid-row: 5/6;
        grid-column: 2/4;

        padding-left: 150px;

        background-color: #8C8C8C;
    }

}